# See the documentation for more information: https://pocket-id.org/docs/configuration/environment-variables
APP_URL=https://pocket.cjsclub.com
TRUST_PROXY=false
MAXMIND_LICENSE_KEY=
PUID=1000
PGID=1000
